<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHelloWorldService" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="ElsePipe" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="netTCPElseBinding" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/HelloWorldHost/HelloWorldService"
        binding="netNamedPipeBinding" bindingConfiguration="" contract="IHelloWorldService"
        name="ElsePipe" kind="" endpointConfiguration="" />
      <endpoint address="net.tcp://localhost:55859/HelloWorldHost/HelloWorldService"
        binding="netTcpBinding" bindingConfiguration="" contract="IHelloWorldService"
        name="netTCPElseBinding" kind="" endpointConfiguration="" />
      <endpoint address="http://localhost:55859/HelloWorldHost/HelloWorldService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorldService"
        contract="IHelloWorldService" name="ElseBasicHttp" />
    </client>
  </system.serviceModel>
</configuration>