<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <client>
      <endpoint binding="netNamedPipeBinding" bindingConfiguration="NetNamedElsePipeBinding"
        contract="HelloWorldService.IHelloWorldService" name="NetNamedElse" />
      <endpoint address="net.tcp://localhost:55859/HelloWorldHost/HelloWorldService"
        binding="netTcpBinding" bindingConfiguration="netTCPElseBinding"
        contract="HelloWorldService.IHelloWorldService" name="NetTCPElse"
        kind="" endpointConfiguration="" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="elseHttpBinding"
        contract="HelloWorldService.IHelloWorldService" name="BasicHttpElse" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="elseHttpBinding" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedElsePipeBinding" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="netTCPElseBinding" />
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>